body {
    background-color: grey;
}

div {
    border-color: white;
    border-style: solid;
    width: 600px;
    padding: 10px 10px 10px 10px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding-left: 15px;
}

label {
    background-color: white;
    display: block;
    width: 300px;
    height: 20px;
    border: 1px solid lightgrey;
}

h3,
h4 {
    line-height: 5px;
}

.tabla_lineas {
    background-color: white;
}

.tabla_lineas tr {
    width: 600px;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

.tabla_lineas td,
th {
    text-align: left;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.muestra {
    display: flex;
}

.oculta {
    display: none;
}

.grisecito {
    color: lightgrey;
}